@import url("https://fonts.googleapis.com/css2?family=Salsa&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

:root {
  --primary-color: #c96a44;
  --dark: #000000;
  --white: #ffffff;
  --grey: #516263;
  --bg-color-primary: #ffdfd4;
  --bg-color-secondary: #ffffff;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
  font-family: "Salsa", serif;
  font-weight: 400;
  font-style: normal;
}

iframe,
video {
  width: 100%;
}

a {
  color: var(--primary-color);
  text-decoration: none;
}

::selection {
  background-color: var(--primary-color);
  color: var(--white);
}

::-webkit-scrollbar {
  width: 12px;
  height: 15px;
}

::-webkit-scrollbar-track {
  background-color: var(--white);
  border-radius: 10px;
  border: 1px solid var(--primary-color);
}

::-webkit-scrollbar-thumb {
  background-color: var(--primary-color);
  border-radius: 10px;
}

::-webkit-scrollbar-corner {
  background-color: #00a2ff;
}

a:hover {
  text-decoration: none;
}

body {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  overscroll-behavior-x: none;
  overscroll-behavior-y: none;
  scroll-behavior: smooth;
  margin: 0;
  padding: 0;
}

strong {
  font-weight: 400;
}
